:host {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0px 0px 1rem rgb(0, 0, 0, 0.2));
}

button {
  color: black;
  position: relative;
}

.active {
  &::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 4px;
    width: 1.75rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    margin-inline-start: unset !important;
    margin-inline-end: unset !important;
  }
}
