:host {
  display: block;
  overflow: clip;
  max-height: 100dvh;
}
header {
  display: flex;
  gap: 2rem;
  padding: 2rem 1rem;
  background-color: #e1f0f4;
}

button {
  border-radius: 100%;
  --tui-background-accent-1: #bfe5f0;
  --tui-text-primary-on-accent-1: black;
}

app-exercise-chooser {
  height: calc(100dvh - 7.5rem);
}
